*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    /*margin: auto; */
    margin: 30px;
}

.nav{
    text-align: center;
}

.nav li{
    display: inline-block;
    border: 2px solid orange;
    border-radius: 10px;
    margin-left: 10px;
    padding: 8;
    text-align: center;
    width: 100px;
    background-color: antiquewhite;
}

.nav li:hover{
    background-color: orange;
    color: white;
    font-weight: 900;
    cursor: pointer;
}